// customization de bootstrap
$theme-colors: (
  "primary": #80deea
);

$enable-rounded: false;
$font-family-sans-serif: "Exo", sans-serif;
// $font-family-sans-serif: "Open Sans Condensed", sans-serif;

@import "./bootstrap/bootstrap.scss";

//  styles perso ici
//carousel
.carousel-item {
  /*border: solid 5px;*/
  padding: 10%;
  border: solid 1px #80deea;
}
.carousel-indicators li {
  text-indent: 0;
  margin: 0 2px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  line-height: 30px;
  color: #fff;
  background-color:blue ;
  &.active {
    background-color: #b3e5fc;
  }
}
.col-md-2 {
  font-size: 3em;
  font-family: "Exo", sans-serif;
  margin-top: 2%;
}
//  styles perso

// variables
$primary-color: #80deea;

// navbar
.navbar {
  opacity: 0.9;

  .nav-item.active {
    border-left: $white 3px solid;
  }
}

// Contact
.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

//  footer
#main-footer {
  .socials {
    a {
      display: inline-block;
      margin: auto 1.2rem;
      color: $light;
      transition: color 0.3s;

      &:hover {
        color: $primary-color;
      }
    }
  }

  .footer-logo {
    img {
      border-bottom: 1px solid $primary-color;
    }
  }
}
